/*BUNDLE_CONFIG 
{
    "outputFileName": "site.min.css"
}
*/

/*BUNDLE_INCLUDE("~/css/user/text.css")*/
.wrapper-text-search {
    padding-left: 64px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 32px;
}
.text-content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.text-content-col {
    width: 50%;
}
.text-table-col{
    width: 45%;
}

.text-search-filter-row {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    
}
.text-search-filter-item {
    width: 45.5%;
    padding-bottom: 30px;
}
.text-search-filter-multiselect-placeholder {
    /*border-bottom: 2px solid #0F0F0F;*/
    width: 90%;
    padding-bottom: 10px;
}

.text-search-data-table {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.text-data-row {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 54px;
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 16.8px;
}
.text-red-circle {
    width: 9%;
}
.text-red-circle .text-col-content-item {
    border-top: none;
}

.text-image-selected-item {
    width: 10%;
}
.text-col-item {
    width: 45%;
}
.text-col-content-item {
    width: 90%;
    border-top: 2px solid #0F0F0F;
    padding-top: 12px;
}


.text-data-row .red-image-text-row {
    opacity: 0;
}

.data-row-selected .red-image-text-row {
    opacity: 1;
}

.textRevisionImage, .textRevisionVideo {
    max-width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    max-height: 580px;
}


#editorjs a, #editorjs a:hover, #editorjs a:active, #editorjs a:visited {
    color: rgb(16, 17, 16);
}

@media (max-width: 1100px) {
    .wrapper-text-search {
        padding-left: 34px;
        padding-right: 44px;
    }
    .red-image-text-row {
        width: 22px;
    }
}


@media (max-width: 1000px) {
    .text-content-col, .text-red-circle {
        display: none;
    }
    .text-table-col{
        width: 100%;
    }

    .text-search-filter-item, .text-col-item {
        width: 50%;
    }
    .textRevisionImage{
        max-height: 700px;
    }
    #textMobileContentPlaceholder{
        flex-direction:column;
    }
}


