
.wrapper-user-catalogue {
    padding-left: 64px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.user-catalogue-action-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 45px;
}

.user-catalogue-action-item{
    padding-right: 25px;
}

.user-catalogue-table-row {
    padding-bottom: 45px;
}


.table-header-catalogue-user-number, .table-body-catalogue-user-column-number {
    width: 10%;
}

.table-header-catalogue-user-name, .table-body-catalogue-user-column-name {
    width: 45%;
}

.table-header-catalogue-user-email, .table-body-catalogue-user-column-email {
    width: 45%;
}

.table-body-catalogue-user-column-name-link {
    text-decoration: underline;
    cursor: pointer;
}


.table-header-catalogue-user{

}

