/*BUNDLE_CONFIG 
{
    "outputFileName": "site.min.css"
}
*/

/*BUNDLE_INCLUDE("~/css/admin/identity.css")*/
.auth-container {
    margin-top: 25px;
    width: 100%;
}
.card-header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
}