/*BUNDLE_CONFIG 
{
    "outputFileName": "site.min.css"
}
*/

/*BUNDLE_INCLUDE("~/css/main/main-mobile.css")*/

@media (max-width: 700px) {
    .container-custom {
        position: relative;
        width: 100%;
        top: 80px;
        left: 0px;
        background-color: #DEDCDC;
    }
    footer{
        left: 0px;
    }
    .wrapper-custom {
        width: 100%;
    }

    .main-image {
        display: none;
    }

    .main-image-mob {
        position: absolute;
        width: 100%;
        max-height: 410px;
    }

    .info-container {
        min-height: 600px;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url("../../images/main/yourHouse-OurHouse-mob.png");
        background-position: top;
    }

    .main-photo-info {
        color: #B1B1B1;
        z-index: 2;
        font-size: 9px;
        line-height: 160%;
        width: 30%;
    }

    .main-photo-info p {
        margin: 0px;
        padding-bottom: 10px;
    }

    .main-text-info {
        width: 85%;
        z-index: 2;
        font-weight: 500;
        padding-top: 100px;
        font-size: 30px;
        line-height: 110%;
        color: #FFFFFF;
    }
    

    .additional-text-info {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 24px;
        color: #363636;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        line-height: 1.38;
    }

    .additional-text-info-col {
        width: 100%;
        padding-bottom: 30px;
    }

    .map-container {
        position: relative;
        padding-top: 20px;
        padding-left: 16px;
        padding-right: 16px;
        height: 740.19px;
        width: 100%;
        color: #0F0F0F;
    }
    .clear-button-col{
        padding-right: 10px;
    }

    .map-filter-container {
        padding-top: 30px;
        height: 306px;
        flex-direction: column;
        padding-bottom: 40px;
    }

    .filter-item {
        width: 100%;
        height: 150px;
    }
    .filter-item-search {
        width: 100%;
        height: 60px;
        justify-content: end;
        display: flex;  
        flex-direction: row;
    }
    #filter-big-text-info {
        margin-top: 5px;
        width: 100%;
        height: 40px;
    }

    #map {
        width: 100%;
        height: 368.11px;
    }

    .email-container {
        width: 100%;
        margin-top: 70px;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        height: 320px;
    }

    .form-container {
        display: none;
        visibility: hidden;
    }
    .email-first-col{
        width: 70%;
    }
    .email-col {
        height: 120px;
        display: flex;
        flex-direction: column;
    }

    .email-text-info-row {
        height: 30px;
        position: relative;
        font-size: 24px;
        line-height: 24px;
    }

    

    footer {
        position: relative;
        width: 100%;
        background-color: #0F0F0F;
        padding-left: 16px;
        margin-top: 56px;
        padding-right: 16px;
        padding-top: 24px;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: relative;
        height: 211px;
    }



    .footer-main-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: white;
        width: 80%;
        height: 110px;
    }

    .footer-copy-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        width: 50%;
        height: 50px;
    }

    .footer-refernce {
        display: flex;
        flex-direction: column;
        position: relative;
        left: -16px;
    }

    .teams {
        border-top: 2px solid #363636;
        padding-top: 17px;
        padding-left: 16px;
        color: #363636;
        height: 130px;
        width: -webkit-calc(100% + 32px);
        width: -moz-calc(100% + 32px);
        width: calc(100% + 32px);
        justify-content: space-between;
        flex-direction: row;
        display: flex;
        border-left: none;
    }

    .footer-main-text a:hover {
        color: #FF2929
    }

    .team-text {
        font-size: 10px;
        line-height: 12px;
        width: 40%;
        height: 100px;
    }

    .reference-images {
        width: 40%;
        height: 40px;
    }

    .reference-images img {
        max-width: 100px;
    }
    .uncertain-point {
        position: absolute;
        left: 30%;
        top: 300px;
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 460px) {
    .map-container{
        height:680px;
    }
    .email-container {
        margin-top: 50px;
    }
    .additional-text-info {
        padding-bottom: 20px;
        font-size: 10px;
        line-height: 1.38;
    }

    .email-text-info-row {
        position: relative;
        width: 90%;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
    .main-text-info{
        width: 95%;
    }

    .container-custom {
        top: 60px;
    }
    .info-container {
        min-height: 410px;
        padding-bottom: 30px;
    }
    .map-container{
        padding-top: 10px;
    }
    .main-photo-info{
        width: 50%;
    }
    .uncertain-point{
        top: 150px;
        left: 30%;
        width: 18px;
        height: 18px;
    }
    .map-filter-container {
        padding-top: 30px;
        height: 256px;
        flex-direction: column;
        padding-bottom: 40px;
    }
}


