.wrapper-search {
    padding-left: 64px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 32px;
}
.mark-header-row {
    height: 138px;
    width: 100%;
    color: #0F0F0F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mark-header-text {
    width: 48%;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.mark-header-info {
    width: 52%;
}
.mark-info-text p{
    width: 75%;
}

.clear-button-container {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 107px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mark-table-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.photo-col, table-col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

.photo-col {
    width: 40%;
}

.table-col {
    width: 60%;
}









.image-placeholder, .mark-table {
    height: 944px;
    width: 100%;
}

.mark-image {
    max-width: 100%;
    max-height: 700px;
    position: relative;
}

.mark-table {
    display: flex;
    flex-direction: column;
    justify-content: start;
}


.filter-multiselect-placeholder {
    height: 60px;
    width: 90%;
    padding-bottom: 15px;
    border-bottom: 2px solid #0F0F0F;
}

.filter-row, data-row-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter-row {
    height: 170px;
    padding-bottom: 33px;
}

.filter-item-small {
    height: 100%;
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.data-row-container {
    height: 844px;
    overflow-y: scroll;
}

.data-row {
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 33px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}

.data-row-mark-for-curator {
    cursor: pointer;
    padding-bottom: 33px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}


.col-item-red-circle {
    width: 9%;
}

.col-item-number {
    width: 4%;
}

.col-item {
    position: relative;
    width: 29%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.col-item-space {
    width: 7%;
}

.col-item-for-curator-number {
    width: 3%;
}

.col-item-for-curator-number .col-content-item {
    border-top: none;
}

.col-content-item {
    position: relative;
    width: 90%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 12px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-item-red-circle .col-content-item, .col-item-number .col-content-item {
    border-top: none;
}

.col-number-item {
    position: relative;
    width: 10%;
}

.col-area-item {
    position: relative;
    width: 80%;
}

.col-name-item, .col-author-item {
    width: 100%;
}

.data-row .red-image-mark-row {
    opacity: 0;
}

.data-row-selected .red-image-mark-row {
    opacity: 1;
}


.text-container-big {
    width: 80%;
}

.text-container-small {
    padding-left: 13%;
    width: 68%;
    color: #0F0F0F;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}


@media (min-width: 1100px) {
    .form-col, .from-text-info-row, .bottom-text-row {
        font-size: 30px;
        line-height: 40px;
    }
}



.wrapper-mark-revision {
    position: fixed;
    padding-left: 64px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 32px;
    padding-bottom: 150px;
    height: 100%;
    background-color: #0F0F0F;
}

.mark-revision-content-row {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.mark-revision-space-col{
    width: 5%;
}

.wrapper-mark-revision,
.mark-revision-navigation-row,
.mark-revision-content-row {
    width: 100%;
}

.mark-revision-navigation-row {
    height: 118px;
    position:relative;
}

.mark-revision-navigation-row #back {
    background: none;
    border: none;
}


.mark-revision-content-col {
    width: 29%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.mark-revision-image-col {
    width: 55%;
    max-height: 682px;
}

.mark-revision-description {
    padding-bottom: 40px;
    word-wrap: break-word;
}

.mark-revision-area,
.mark-revision-curator,
.mark-revision-resources {
    padding-bottom: 14px;
    padding-top: 15px;
}

.mark-revision-curator {
}


@media (max-width: 1100px){
    .wrapper-search {
        padding-left: 34px;
        padding-right: 44px;
    }
    .photo-col{
        width: 35%;
    }
    .table-col{
        width: 65%;
    }
    .mark-header-text {
        width: 43.5%;
    }

    .mark-header-info {
        width: 56.5%;
    }
}
@media (max-width: 1000px) {
    .photo-col{
        display: none;
    }
    .table-col{
        width: 100%;
    }
    .filter-item-small {
        display: none;
    }
    .filter-item, .filter-item-search {
        width: 33%;
    }
    
    .col-item-red-circle {
        display: none;
    }
    .col-item-number {
        border-top: 1px solid black;
    }
    .col-item{
        width: 32%;
    }
    .slideshow-wrapper, .mySlides  a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .wrapper-mark-revision{
        padding-left: 34px;
    }
    .mark-revision-content-row {
        flex-direction: column-reverse;
    }
    .mark-revision-image-col{
        width: 87%;
    }
    .mark-revision-content-col{
        width: 60%;
    }
    .mark-revision-image-col .slideshow-wrapper {
        align-items: start;
    }
    .mark-revision-space-col {
        height: 38px;
    }
}