<div id="deleteMarkView" class="popup-custom">
    <div class="popup-body-custom">
        <div class="popup-content-custom">
            <div class="row">
                <h2>Видалення мітки</h2>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <span>Ви точно впевнені, що хочете видалити мітку?</span>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-md-1" style="padding-right: 40px">
                    <button id="deleteMarkConfirmButton" class="btn btn-dark-custom">Так</button>
                </div>
                <div class="col-md-3">
                    <button id="deleteMarkCancelButton" class="btn btn-dark-custom">Відмінити</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteMarkView = new DeleteMarkView();
    $(document).ready(function () {
        deleteMarkView.InitializeControls();
    });
</script>
