@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Підтвердження електронної адреси";
}
<div class="auth-container" style="padding-left: 20px;">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>

