@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження реєстрації";
}
<div class="auth-container" style="padding-left: 20px;">
<h1>@ViewData["Title"]</h1>

Перевірте свою скриньку для підтвердження email-адреси.
</div>

